<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <h1>Editing Genre</h1>

    <%= render 'form', genre: @genre %>

    <%= link_to 'Show', @genre %> |
    <%= link_to 'Back', genres_path %>
  </div>
</div>


