<div class='row'>
  <div class='col-xs-4 col-xs-offset-4'>
        <h1>New Artist</h1>

    <%= render 'form', artist: @artist %>

    <%= link_to 'Back', artists_path, class: 'btn btn-sm btn-info' %>
  </div>
</div>


