<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <h1>New Song</h1>

    <%= render 'form', song: @song %>

    <%= link_to 'Back', songs_path, class: 'btn btn-sm btn-info' %>

  </div>
</div>


